/*------------------------------------------------------------------
               MAIN HEADER (including conpany logo and search bar)
--------------------------------------------------------------------*/

#submit-search {
  float: right;
}




/*------------------------------------------------------------------
RESULT page (including NEWS, GRAPH, ADD TO FAV button, COMMENT area)
--------------------------------------------------------------------*/

/*----- whole section------*/

#result {
  overflow: auto;
}

/*----- Back To Fav button ------*/

#back-to-fav {
  float: left;

}

/*----- News ------*/

#news {
  float: left;
}



/*----- Right column ------*/

.right-column {
  float: left;
}
