th {
  border: blue solid 2px;
}

/*------------------------------------------------------------------
               MAIN HEADER (including conpany logo and search bar)
--------------------------------------------------------------------*/

/*----- Stockers Logo & Name -----*/

#main-header {
  height: 20%;
  background-color: black;
  color: white;
}

.logo {
  width: 12%;
  padding-top: 2%;
}


#main-header h1 {
  padding-top: 1%;
  padding-bottom: 2.6%;
}


/*----- Search Company Name  and Submit Button -----*/


#search-container {
  padding: 5px;
}

#company {
  width: 45%;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  border: none;
  background-color: white;
  color: black;
  padding-top: 0.5%;
  padding-bottom: 0.5%;

}

#submit-search {
  width: 45%;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  border: none;
  background-color: white;
  color: black;
  padding-top: 0.5%;
  padding-bottom: 0.5%;

}

::-webkit-input-placeholder {
  color: black;
  background: white;
}

/*------------------------------------------------------------------
table stuff
--------------------------------------------------------------------*/

#sample-table {
  /*margin:2%;*/
}

#sample-table th {
  background-color:black;
  color:white;
  border: none;
  background-color: black;
  color: white;

  margin: 10%;
  /*padding-left: 5%;
  padding-right: 5%;*/
  /*padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;*/
  font-family: 'Cormorant SC', serif;
  font-size: 1.3em;
  width: 200px;
}

#table-template td {
  /*padding: auto 4%;*/
  font-family: 'Cormorant SC', serif;
  font-size: 1.5em;
  padding-left: 5%;
  padding-right: 5%;
}



/*------------------------------------------------------------------
RESULT page (including NEWS, GRAPH, ADD TO FAV button, COMMENT area)
--------------------------------------------------------------------*/

/*----- whole section------*/

#result {
  overflow: auto;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  max-height: 50%;
}

#searchResults {
  display: none;
  width: auto;
  position: absolute;
  padding: 0.5%;
  background-color: black;
  z-index: 10;
  border: 1px solid black;
}

#searchResults p {
  margin-top: 1%;
  margin-bottom: 1%;
  color: white;
  background-color: black;
}

hr {
  margin-top: 0.5%;
}



/*----- News ------*/

#news {
  overflow-y: scroll;
  color:  black;
  width: 45%;
  max-height: 300px;  //it doesn't work if I change it to %. something wrong with the parent
}

#news * {
  padding-left: 1%;
  padding-right: 1%;
}

#news h3 {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

#news h1 {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

#news p {
  text-align: justify;
  padding-top: 1%;
  padding-bottom: 1%;
}

#news::-webkit-scrollbar {
  width: 1em;
}

#news::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#news::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}



/*----- Right column ------*/

.right-column {
  width: 55%;
  background-color: white;
}

#company-name {
  padding-top: 2%;
  padding-bottom: 2%;
  height: 5%;
  color: black;
}

#comment-added p {
  padding-top: 2%;
  padding-bottom: 2%;
}

canvas {
  background-color: white;
}

.graph {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.date-addfav {
  width: 80%;
  height: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.date-addfav label {
  width: 50%;
  float: left;
  text-align: left;
}

#graph-start-date {
  width: 70%;
  height: 29%;
}

#add-fav {
  float: right;
  width: 49%;
  border: none;
  background-color: black;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

#comment-textarea {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
}

#add-comment {
  float: left;
  border: none;
  text-align: right;
  background-color: black;
  color: white;
  margin-bottom: 5%;
  margin-left: 69.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 4%;
}

/*------------------------------------------------------------------
                        ABOUT US page
--------------------------------------------------------------------*/

#about-us {
  max-width: 100%;
}

.about-title {
  text-align:center;
  margin-bottom: 2%;
  font-size: 3em;
  max-width: 100%;
}


.about-each {
  margin: auto 2%;
  display: inline-block;
  text-align: center;
  max-width: 100%;
}


/*------------------------------------------------------------------
       FOOTER (including ABOUT US button & STOCKERS COPYRIGHT)
--------------------------------------------------------------------*/

footer {

  height: 10%;
  background-color: black;
  color: white;
}

#show-about {
  background-color: black;
  color: white;
  border: none;
}
