th {
  border: blue solid 2px;
}

/*------------------------------------------------------------------
               MAIN HEADER (including conpany logo and search bar)
--------------------------------------------------------------------*/

/*----- Stockers Logo & Name -----*/

#main-header {
  height: 20%;
  background-color: black;
  color: white;
}

.logo {
  width: 15%;
  padding-top: 3%;
}


#main-header h1 {
  padding-top: 1%;
  padding-bottom: 3%;
}


/*----- Search Company Name  and Submit Button -----*/


#search-container {
  padding: 5px;
}

#company {
  width: 45%;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  border: 1px solid white;
  background: black;
  color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;

}

#submit-search {
  width: 45%;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;

}

::-webkit-input-placeholder {
  color: white;
}








/*------------------------------------------------------------------
RESULT page (including NEWS, GRAPH, ADD TO FAV button, COMMENT area)
--------------------------------------------------------------------*/

/*----- whole section------*/

#result {
  overflow: auto;
  padding-left: 10%;
  padding-right: 10%;
  max-height: 50%;
}


#searchResults {
  display: none;
  width: auto;
  position: absolute;
  padding: 0.5%;
  background-color: white;
  z-index: 10;
  border: 1px solid black;
}

#searchResults p {
  margin-top: 1%;
  margin-bottom: 1%;
}

hr {
  margin-top: 0.5%;
}

/*----- Back To Fav button ------*/



/*----- News ------*/

#news {
  overflow-y: scroll;
  color:  black;
  width: 50%;
  max-height: 300px;  //it doesn't work if I change it to %. something wrong with the parent
}

#news * {
  max-width: 90%;
}

#news h3 {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding
}

#news h1 {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding
}

#news p {
  text-align: justify;
  padding-top: 1%;
  padding-bottom: 1%;
}


/*----- Right column ------*/

.right-column {
  width: 50%;
  background-color: white;
}

.right-column h1 {
  padding-top: 3%;
  padding-bottom: 3%;
}

canvas {
  background-color: white;
}

.graph {
  position: relative;
  margin: 0 auto;
  width: 50%;
}

#add-fav {

}

#show-comment {

}

#insert-comment {

}

/*------------------------------------------------------------------
                        ABOUT US page
--------------------------------------------------------------------*/

#about-us {
  max-width: 100%;
}

.about-title {
  text-align:center;
  margin-bottom: 2%;
  font-size: 3em;
  max-width: 100%;
}


.about-each {
  margin: auto 2%;
  display: inline-block;
  text-align: center;
  max-width: 100%;
}


/*------------------------------------------------------------------
       FOOTER (including ABOUT US button & STOCKERS COPYRIGHT)
--------------------------------------------------------------------*/

footer {

  height: 10%;
  background-color: black;
  color: white;
}

#show-about {
  background-color: black;
  color: white;
  border: none;
}
